* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #fff;
}

nav ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 0.9rem;
}

nav li a:hover {
  color: #0a15fe;/
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: 1rem; /* Add this for spacing between header and image */
}

.image-cycle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.image-cycle img {
  cursor: pointer;
  max-height: 60vh;
  width: auto;
  height: auto;
}

.blurb-container {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.blurb,
.contact {
  text-align: left;
  max-width: 300px;
  font-size: 0.9rem;
  color: #444;
}

.blurb-footer {
  font-size: 0.875rem;
  color: #888;
  margin-top: 1rem;
  padding-left: 0.25rem;
}

a.contact-link {
  color: #444;
  text-decoration: none;
}

a.contact-link:visited {
  color: #444;
}

a.contact-link:hover {
  color: #295BC5; /* Favicon blue */
}